body {

}

.portfolio-item {
	margin-bottom: 25px;
}

.navbar-inverse {
background-color: #222729;
border-color: #222729;
}

footer {
	margin: 50px 0;
}

h1{
	color: #7cc576;
}

h3{
	text-align: center;
	color:white;
	padding: 15px;
}

.img-navbar{
	margin-right: 15px;
}

a{
color: #7cc576;
text-decoration: none;	
}

a:hover{
color: #7cc576;
}

.navbar-inverse .navbar-brand:hover {
color: #7cc576;
}
.navbar-inverse .navbar-brand {
color: white;
}

.full-img{
background: #252931 url("../img/slide.jpg") center center;
-webkit-background-size: cover;
background-size: cover;
height: 212px;
}

.overlay-bluegreen{
background: rgba(22, 160, 133, 0.7);
color: #ffffff;
height: 212px;
}

.overlay-white{
background: rgba(255, 255, 255, 0.5);
color: #ffffff;
height: 212px;
}

.overlay-green{
background: rgba(113, 190, 60, 0.5);
color: #ffffff;
height: 212px;
}

.overlay-black{
background: rgba(0, 0, 0, 0.6);
color: #ffffff;
height: 212px;
}

.overlay-grey{
background: rgba(37, 41, 49, 0.5);
color: #ffffff;
height: 212px;
}

.overlay-blue{
background: rgba(0, 204, 255, 0.5);
color: #ffffff;
height: 212px;
}

.title-text{
background: #222729;
height: 60px;
margin-top: -20px;
color: white;
}

.overlay-red{
background: rgba(220, 20, 60, 0.5);
color: #ffffff;
height: 212px;
}

.overlay-greenblue{
background: rgba(116, 200, 190, 0.8);
color: #ffffff;
height: 212px;
}

.text-pad{
	padding: 2em !important;
}


